extends layout

block scripts
  script.
    $(function() {
      console.log("ok");
    });

block body
  <div class="container">
    <div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">Hacker Profile</h2>
        <input type="text"class="form-control" placeholder="GitHub username" required autofocus>
        <input type="text"class="form-control" placeholder="Devpost username" required autofocus>
        <input type="text"class="form-control" placeholder="LinkedIn username" required autofocus>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Are you a mentor?
          </label>
        </div>
        <a href="/user" class="btn btn-lg btn-primary btn-block" type="submit">Save</a>
      </form>
    </div>
  </div>

