extends layout

block scripts
  script.
    $(function() {
      $("#github-auth").click(() => {
        window.location.href = "https://github.com/login/oauth/authorize/?client_id=27e45b929055261d9d6b";
      });
    });

block body
  <div class="container">
    <div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">Hacker Profile</h2>
        <button id="github-auth">Connect GitHub</button><input type="text"class="form-control" placeholder="GitHub username" required autofocus>
        <input type="text"class="form-control" placeholder="Devpost username" required autofocus>
        <input type="text"class="form-control" placeholder="LinkedIn username" required autofocus>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Are you a mentor?
          </label>
        </div>
        <a href="#" class="btn btn-lg btn-primary btn-block" type="submit">Save</a>
      </form>
    </div>
  </div>

