extends layout

block scripts
  script.
    $(function() {
      $("#github-auth").click((e) => {
        console.log("bye");
        window.location = "https://github.com/login/oauth/authorize/?client_id=27e45b929055261d9d6b&redirect_uri=https://cambotweb.localtunnel.me/github";
        e.preventDefault();
        return;
      });

      $("#submit-form").click((e) => {
        $.post('/save', {
          linkedin: $("#linkedin-form").val(),
          devpost: $("#devpost-form").val(),
          mentor: $("#mentor-form").prop("checked")
        }, function() {
          console.log("fine");
          $("#success-alert").show();
        });
        e.preventDefault();
        return;
      });
    });

  style.
    @import url('https://fonts.googleapis.com/css?family=Montserrat');

    body {
      min-height: 100vh;
      background: url('img/bg.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-family: 'Montserrat'
    }

    form {
      margin: 1em 2em 1em;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 5px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    h2 {
      text-align: center;
      margin-bottom: 0.5em !important;
    }

block body
  <div class="container">
    <div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">Hacker Profile</h2>
        <div id="success-alert" style="display: none" class="alert alert-success alert-dismissable fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong> Profile has been updated.
        </div>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-github-square fa-fw fa-2x" aria-hidden="true"></i></span>
          if github
            <button class="btn btn-lg btn-primary btn-block" disabled>Connected</button>
          else
            <button id="github-auth" class="btn btn-lg btn-primary btn-block">Connect GitHub</button>
        </div>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><img style="width: 28px;margin-left: 4px;margin-right:4px;" src="img/devpost.png"></span>
          <input id="devpost-form" type="text" class="form-control" placeholder="Devpost username" autofocus>
        </div>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-linkedin-square fa-fw fa-2x" aria-hidden="true"></i></span>
          <input id="linkedin-form" type="text" class="form-control" placeholder="LinkedIn username" autofocus>
        </div>
        <div class="checkbox">
          <label>
            <input id="mentor-form" type="checkbox" value="remember-me"> Are you a mentor?
          </label>
        </div>
        <button id="submit-form" class="btn btn-lg btn-primary btn-block">Save</button>
      </form>
    </div>
  </div>

